:root {
--primary-text-color: #212121;
--title-text-color: #212121;
--accent-color: #2196F3;
 --font-family-primary: 'Roboto',
 sans-serif;
 --font-family-title: 'Playfair Display',
 serif;}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
body {
        font-size: 14px;
        line-height: 1.71;
        font-family: var(--font-family-primary);
        font-weight: 400;
        background-color: #E5E5E5;
        }
.section-text {
    color: #757575;
    Weight 400 
    Size 14px 
    Line height 1.71 
   
}
.section-title {
    color: var(--primary-text-color);
    Weight 700 
    Size 14px 
    Line height 1.17
}
.logo {
color: var(--primary-text-color);
font-family: Raleway, sans-serif;
font-weight: 700;
Font size: 26px
height: 1.19
}
.logo-footer {
    color:#FFFFFF ;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    Font size: 26px height: 1.19
}

span {
    color: #2196F3;
}

.site-nav {
font-family: Raleway, sans-serif;
font-weight: 500;
Font size: 14px 
height: 1.14
}

.site-nav list {  
font size: 14px
Line height: 1.14}
ul {
    list-style: none;
}
.hero-title {
    
    color: #FFFFFF;
    font-weight: 900;    
    font size: 44px
    height: 1.36    
}
.section-hero {
    text-align: center;
   
}
.title-portfolio {
Weight 700 
Size 18px 
Line height 2
color: var(--title-text-color)
}

.hero {background-color: #2F303A;
text-align:center;}

.button-hero {
    background-color: var(--accent-color);
    font-family: inherit;
}
.button-hero:hover,
.button-hero:focus {
    background-color: #188ce8;
    color: #FFFFF;
}
.button-list: {
    background-color: #f5f4fa;
    font-family: inherit;
    Weight 500 
    Size 16px 
    Line height 1.62
}
.button-list:hover,
.button-list:focus {
background-color: var(--accent-color);
color: #FFFFF;
}


.list-nav{
    color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    
}
.list-nav:hover,
.list-nav:focus {
    color:var(--primary-text-color);}
    
footer {
    background-color: #2F303A;
}
.adress-footer {
    font-stye: normal;
    color: #FFFFFF;
    font-family: inherit;
}

.name {
    color:var(--primary-text-color);
    Weight 500
    Size 16px 
    Line height 1.17
}
.work {
    color: #757575
    Weight 400 
    Size 16px 
    Line height 1.17
}